<h2 id="title">Welcome to Ember</h2>

<hr>
<a class="toggle1" href="#" {{action "toggle"}}>Toggle</a>

{{sweet-alert "Ember Sweet Alert" "Awesome!" "success"
  show=this.toggleModal
  onOpen=(action (mut this.cancellation) null)
  onConfirm=(action (mut this.enterEmail) true)
  onCancel=(action "cancelled")
}}

{{sweet-alert
  show=this.enterEmail
  title="Submit email to run ajax request"
  input="email"
  showCancelButton=true
  confirmButtonText="submit"
  allowOutsideClick=false
  preConfirm=(action "loading")
  onConfirm=(action "updateEmail")
}}

{{#if this.cancellation}}
  <p>Cancelled: {{this.cancellation}}</p>
{{/if}}

{{#if this.email}}
  <p class="email">Email: {{this.email}}</p>
{{/if}}

<hr>
<a class="toggle2" href="#" {{action "open"}}>Open via Import</a>
