<h2 id="title">Welcome to Ember Sweet Alert!</h2>

<hr>

<a class="toggle1" href="#" {{on "click" this.openModal}}>Toggle</a>

<SweetAlert
  @title="Ember Sweet Alert"
  @text="Awesome!"
  @icon="success"
  @show={{this.toggleModal}}
  @onOpen={{this.reset}}
  @onConfirm={{this.openEmail}}
  @onClose={{this.closeModal}}
/>

<SweetAlert
  @show={{this.enterEmail}}
  @title="Submit email to run ajax request"
  @input="email"
  @showCancelButton={{true}}
  @confirmButtonText="Send Email"
  @allowOutsideClick={{false}}
  @preConfirm={{this.loading}}
  @onConfirm={{this.updateEmail}}
  @onCancel={{this.cancelled}}
  @onClose={{this.closeEmail}}
/>

{{#if this.cancellation}}
  <p>Cancelled: {{this.cancellation}}</p>
{{/if}}

{{#if this.email}}
  <p class="email">Email: {{this.email}}</p>
{{/if}}

<hr>

<a class="toggle2" href="#" {{on "click" this.open}}>Open via Import</a>
