<h2 id="title">Welcome to Ember</h2>

<a class="toggle" href="#" {{action 'toggle'}}>Toggle</a>

{{sweet-alert "Ember Sweet Alert" "Awesome!" "success"
  show=toggleModal
  onOpen=(action (mut cancellation) null)
  onConfirm=(action (mut enterEmail) true)
  onCancel=(action "cancelled")
}}

{{sweet-alert
  show=enterEmail
  title="Submit email to run ajax request"
  input="email"
  showCancelButton=true
  confirmButtonText="submit"
  allowOutsideClick=false
  preConfirm=(action "loading")
  onConfirm=(action "updateEmail")
}}

{{#if cancellation}}
  <p>Cancelled: {{cancellation}}</p>
{{/if}}

{{#if email}}
  <p class="email">Email: {{email}}</p>
{{/if}}
